<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="stylesheets/animate.css" rel="stylesheet">
    <link href="stylesheets/styles.css" rel="stylesheet">
  </head>
    <body>
      
      <button id="fb-login">login with facebook</button>



      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="javascripts/scripts.js"></script>
      <script src="javascripts/bootstrap.min.js"></script>
      <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
      <script src="https://cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js"></script>
      
    </body>
</html>
